<nav class="navbar navbar-default" role="navigation" style="height: 100%;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sideMenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
            <li><a href="#">New Rental</a></li>
            @*
            <li class="dropdown-header">Manage</li>
            <li class="dropdown">
                <a href="#">Manage Customers</a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Add Customer</a></li>
                    <li><a href="#">Edit Customer</a></li>
                    <li></li>
                </ul>
            </li>*@
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu" style="left:auto; right:0;">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
