@model EmbeddedSystems.DomainModel.Customer

<h1>New Rental</h1>

@using (Html.BeginForm("NewRental", "Rental"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend></legend>
        @Html.Partial("~/Views/Customer/CreateCustomer.cshtml")
        <button type="submit" value="Submit" class="btn btn-default">Submit</button>
    </fieldset>
}