@model EmbeddedSystems.DomainModel.HandsetRental

<div class="transbox">
    <h1 class="fade"><b>Confirmation</b></h1>
    <h2><b>Your details have been submitted successfully.</b></h2>
</div>

<div class="transbox">
    <h4><b>@Model.Customer.Name</b></h4>
    <h4><b>Handset pin: @Model.Pin</b></h4>
</div>


<p>
    <a class="btn btn-primary" type="button" href="Home/Language">Return</a>
    
</p>

