<div class="transbox">
    <h1 class="fade"><b>Confirmation</b></h1>
    <h2><b>Your details have been submitted sucessfully.</b></h2>
</div>

<p>
  <button type="submit" class="btn btn-primary btn-lg">Large button</button>
  <button type="submit" value="Submit" class="btn btn-default">Submit</button>
</p>