@{
    ViewBag.Title = "Index";
}

<h2>Swag Flags</h2>
<link rel="stylesheet" type="text/css" href="~/Styles/KioskStyle.css" />

<table border="1">
<tr>
<th>Flags</th>
<th>Swags</th>
</tr>
<tr>
<td class="flag"></td>
<td class="flag2"></td>
</tr>
<tr>
<td class="flag3"></td>
<td class="flag4"></td>
</tr>
</table>





<img src="/images/Flags.png" alt="AllFlags">