@model IEnumerable<EmbeddedSystems.DomainModel.AudioFile>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Handset Number</td>
            <td>Date Rented</td>
            <td>Pin Used</td>
            <td>Expiry Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var audioFile in this.Model)
        {
            <tr>
                <td>@audioFile.KnowledgeLevel</td>
                <td>@audioFile.Language</td>
                <td>@audioFile.FilePath</td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
