@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Indexio</title>
</head>
<body>
    <div>
        Indexio
    </div>
        @Html.ActionLink("ENGLISH", "ChangeCulture", "Test", new { lang = "en", returnUrl = this.Request.RawUrl }, null)
        @Html.ActionLink("SPANISH", "ChangeCulture", "Test", new { lang = "es", returnUrl = this.Request.RawUrl }, null)
</body>
</html>
